<!DOCTYPE html>
<html lang="en">
<!-- HEAD PARTIALS -->
<%- include('../partials/head.ejs') %>

  <body>
    <h1>
      <%= navTitle %>
    </h1>

    <!-- SCRIPT PARTIALS -->
    <%- include('../partials/scripts.ejs') %>
  </body>

</html>