<footer class="fadeInBawah">
  <div class="bottom-menu">
    <% if (navMenu) { %>
      <% navMenu.forEach(item=> { %>
        <div class="menu <%=(item.status ? 'pending' : '' ) %> ">
          <a href="<%= item.link %> ">
            <i class="<%= item.icon %>"></i>
            <p>
              <%= item.label %>
            </p>
          </a>
        </div>
        <% }) %>
          <% } else { %>
            <div class="menu">
              <a href="/">
                <i class="fas fa-home"></i>
                <p>Back To Home</p>
              </a>
            </div>
            <% } %>
  </div>
</footer>