<div class="modal" id="modalAddQuestion">
  <div class="modal-content">
    <div class="modal-kepala">
      <span class="close">&times;</span>
    </div>

    <div class="modal-badan">
      <div class="list-menu-container" id="jawabSingkat">
        <i class="fas fa-grip-lines"></i>
        <span class="label-list">
          Jawaban Singkat
        </span>
      </div>
      <div class="list-menu-container" id="jawabPanjang">
        <i class="fas fa-align-left"></i>
        <span class="label-list">
          Jawaban Panjang
        </span>
      </div>
      <div class="list-menu-container" id="pilihanGanda">
        <i class="far fa-dot-circle"></i>
        <span class="label-list">
          Pilihan Ganda
        </span>
      </div>
      <div class="list-menu-container" id="kisiPilihanGanda">
        <i class="fas fa-dice-four"></i>
        <span class="label-list">
          Kisi Pilihan Ganda
        </span>
      </div>
      <div class="list-menu-container" id="kotakCentang">
        <i class="fas fa-check-square"></i>
        <span class="label-list">
          Kotak Centang
        </span>
      </div>
      <div class="list-menu-container" id="petakKotakCentang">
        <i class="fas fa-th"></i>
        <span class="label-list">
          Petak Kotak Centang
        </span>
      </div>
      <div class="list-menu-container" id="dropDown">
        <i class="far fa-list-alt"></i>
        <span class="label-list">
          Daftar Pilihan
        </span>
      </div>
      <div class="list-menu-container" id="tanggal">
        <i class="far fa-calendar-alt"></i>
        <span class="label-list">
          Tanggal
        </span>
      </div>
      <div class="list-menu-container" id="waktu">
        <i class="far fa-clock"></i>
        <span class="label-list">
          Waktu
        </span>
      </div>
      <div class="list-menu-container" id="tglwaktu">
        <i class="fas fa-calendar-plus"></i>
        <span class="label-list">
          Tanggal dan Waktu
        </span>
      </div>
      <div class="list-menu-container" id="skalaLinear">
        <i class="fas fa-ellipsis-h"></i>
        <span class="label-list">
          Skala Linear
        </span>
      </div>
    </div>
  </div>
</div>