<nav class="fadeInAtas">
  <div class="mobile-nav">
    <div class="logo">
      <a href="/">
        <%= navTitle %>
      </a>
    </div>

    <div class="user" id="user">
      <a href="javascript:;" class="userbtn"><i class="fas fa-bars"></i></a>
    </div>
  </div>
</nav>