<!DOCTYPE html>
<html lang="en">
<!-- HEAD PARTIALS -->
<%- include('../partials/head.ejs') %>

  <body>
    <!-- NAV PARTIALS -->
    <%- include('../partials/nav.ejs') %>

      <!-- MODAL MENU -->
      <%- include('../partials/modal-auth.ejs') %>
        <!-- SCRIPT PARTIALS -->
        <%- include('../partials/scripts.ejs') %>
  </body>

</html>